body {
    background-color: #FFCC29;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex; /* Faz o body ser um flex container */
    justify-content: center; /* Centraliza horizontalmente os filhos do body */
    align-items: center; /* Centraliza verticalmente os filhos do body */
    height: 100vh; /* Altura total da tela (precisa disso para o justify-content e align-items) */
    color: #3C1915;
    font-size: large;
    flex-direction: column;
}

/* esse é o container geral onde fica a imagem-01 e o container do formulario */
.container {
    margin-top: -30px;
    width: 100%;
    height: auto;
    display: flex; /* Faz o contêiner ser um flex */
    justify-content: center; /* Centraliza horizontalmente os filhos do body */
    align-items: center; /* Centraliza verticalmente os filhos do body */
}
.imagem-01 {
    display: flex;
    width: auto;
    height: 440px;
    margin-right: 150px;
    
}
.imagem-04 {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: auto; 
}
.imagem-04 img {
    display: flex;
    width: 100%;
    height: 120px
}

.imagem-03 {
    display: flex;
    margin-top: -175px;
    margin-right: -550px;
}

.imagem-03 img {
    width: 160px;
    height: auto;
}

.imagem-05 {
    position: absolute;
    top:150px;
    right: 0px;
    z-index: 1;
}
.imagem-05 img {
    width: 10vw;
    height: auto;
    transform: scaleX(-1) scaleY(-1);
}
.imagem-05_1 {
    position: absolute;
    z-index: -1;
    margin-left: 560px;
    margin-top: 260px;
}
.imagem-05_1 img {
    width: 180px;
    height: auto;
}
.imagem-06 {
    position: absolute; /* Posiciona a imagem de forma absoluta em relação ao elemento pai ou à página */
    top: 0px; /* Ajusta a distância da imagem para o topo da página */
    left: 100px; /* Ajusta a distância da imagem para a esquerda da página */
    width: 180px;
    height: auto;
}
.imagem-06 img {
    width: 100%; /* A imagem se ajustará ao tamanho da div */
    height: auto; /* Manterá a proporção original */
}

/* esse é o container branco onde ficam os formularios e o button */
.container-login { 
    background-color: #FEFEFE;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* esse é o container onde fica o "Login" */
.login-container {
    text-align: center;
}
.login-container h2 {
    color: #3C1915;
}

/* esse é o container do formulario */
.form-container {
    margin-left: 4%;
    display: flex;
    flex-direction: column; /* Alinha os filhos verticalmente */
    justify-content: center;
    align-items: center; /* Centraliza os filhos horizontalmente */
}
.form-container button {
    margin-top: 10px;
    margin-left: 3%;
}
.form-container input[type="email"],
.form-container input[type="password"] {
    flex: 1;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    background-color: #dddedf;
}
.form-container button {
    width: 90%;
    padding: 12px;
    background-color: #FFCC29;
    color: #FEFEFE;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}
.form-container button:hover {
    transform: scale(1.05);
}

/* esse é o container do esqueceu a senha que fica abaixo do formulario */
.esqueceu-a-senha {
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
}

.esqueceu-a-senha a {
    color: #FFCC29; /* Define a cor do texto como amarelo */
}

/* esse é o container do cadastre-se que fica abaixo do button */
.cadastre-se {
    margin-bottom: 20px;
    color: black;
}
.cadastre-se a {
    color: #FFCC29; /* Define a cor do texto como amarelo */
}


@media (max-width: 970px) {
    .imagem-01 {
        margin-right: 50px;
    }
}
@media (max-width: 850px) {
    .imagem-01 {
        display: none;
    }
}