body {
    background-color: rgb(247, 242, 242);
}

/* Configurações do footer */
.footer {
    position: absolute;
    bottom: -120;
    left: 0;
    display: flex;
    width: 100%;
    height: auto;
}

.footer img {
    width: 100%;
    height: 120px;
}

/* Configurações dos contatos */
.contatos {
    display: flex;
    color: #0197B2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: -110px; /* Ajuste este valor conforme necessário */
    left: 80px; /* Adicione 'px' */
    z-index: 1;
}

.contatos p {
    margin-bottom: 0;
    margin-right: 12px;
}

.contatos i {
    margin-right: 8px;
    font-size: 18px;
    color: #0197B2;
}

.contatos a {
    text-decoration: none;
    color: #0197B2;
}

.contatos a:hover {
    color: #017a8a;
}

/* Configurações do doutor */
.doctor-footer {
    position: absolute;
    width: 200px; /* Corrija a largura se necessário */
    bottom: -120px; /* Ajuste para a posição desejada */
    right: 20px; /* Adicione 'px' */
    z-index: 1;
}

.doctor-footer img {
    width: 100%; /* Ajuste o tamanho da imagem */
    height: auto;
}
/* Configurações das imagens */
.base-imagem-container {
    position: absolute;
    bottom: 205px; 
    right: 0; 
    display: flex;
    width: auto; 
}

.base-imagem-container img {
    width: 170px; 
    height: auto; 
    margin-left: 120px; 
}
/* Configurações da 2 imagem */
.base-imagem-container2{
    position: absolute;
    bottom: 505px; 
    right: 0; 
    display: flex;
    width: auto; 
}
.base-imagem-container2 img{
    width: 170px; 
    height: auto; 
    margin-left: 120px; 
}

