.main{
    
    width: 50px;
}

.tituloadote{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    font-size: 2.0rem;
    position: relative;
    top: -30;
    left: 750%;
    color: rgb(15, 170, 170);
}
.orangeline{
    width: 900px;
    background-color: rgb(247, 211, 7);
    height: 10px;
    position: relative;
    top: -30;
}

