body {
    background-color: rgb(247, 242, 242);
}

/* Define as configurações para posicionar a imagem do footer (Rodapé) */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: auto;
}

/* Define o tamanho da imagem do footer (Rodapé). */
.footer img {
    display: flex;
    width: 100%;
    height: 120px;
}

/* Define as configurações dos contatos.  */
.contatos {
    display: flex;
    color: #0197B2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    z-index: 1;
}

/* Define a posição dos contatos. */
.contatos p {
    margin-bottom: 10px;
    margin-right: 12px;
}

.contatos i {
    margin-right: 8px; /* Espaço entre o ícone e o texto. */
    font-size: 18px; /* Tamanho do ícone. */
    color: #0197B2; /* Cor do ícone. */
}

.contatos a {
    text-decoration: none; /* Remove o sublinhado dos links. */
    color: #0197B2; /* Define a cor do texto e dos ícones. */
}

.contatos a:hover {
    color: #017a8a; /* Cor diferente ao passar o mouse. */
}


/* Define as configurações para posicionar a imagem do doutor no canto inferior direito. */
.doctor-footer {
    display: flex;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: 1;
}

/* Configurações do tamanho da imagem. */
.doctor-footer img {
    display: flex;
    width: 200px;
    height: auto;
}
