{% load static %}
<link rel="stylesheet" href="{% static 'css/styles-password_reset/senha_nova.css' %}"> <!-- Carrega o CSS. -->

<div class="imagem-06"><a href="{% url "home" %}"><img src="{% static 'images/06.png' %}" alt="Botão com ícone de casa que leva à página inicial" ></a></div>
<div class="container">
    <div class="container-login">
        <div class="login-container">
            <h2>Insira a nova senha</h2>
        </div>
    <div class="form-container">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <p>{{field}}</p>
                <p>{{field.help_text}}</p>
               <div class="field-error"> <p>{{field.errors}}</p> </div>
            {% endfor %}
            <button type="submit">Trocar</button>
        </form>
    </div>
</div>
<div class="imagem-04"><img src="{% static 'images/04.png' %}" alt="" ></div>