{% load static %}
<link rel="stylesheet" href="{% static 'css/styles-password_reset/email_form.css' %}"> <!-- Carrega o CSS. -->

<div class="imagem-06"><a href="{% url "home" %}"><img src="{% static 'images/06.png' %}" alt="Botão com ícone de casa que leva à página inicial" ></a></div>
<div class="container">
    <div class="imagem-01"><img src="{% static 'images/01.png' %}" alt="Veterinário sorridente abraçando um cachorro feliz" ></div>
    <div class="container-login">
        <div class="login-container">
            <h2>Resetar senha</h2>
        </div>
    <div class="form-container">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
<div class="imagem-04"><img src="{% static 'images/04.png' %}" alt="" ></div>