{% load static %}
<link rel="stylesheet" href="{% static 'css/styles-password_reset/email_enviado.css' %}"> <!-- Carrega o CSS. -->


<div class="container">
    <h1>Email de Recuperação Enviado!</h1>
    <p id="p1">Enviamos um email com as instruções para redefinir sua senha.</p>
    <p>Por favor, verifique sua caixa de entrada e, se não encontrar o e-mail, cheque também a pasta de spam.</p>
    <div class="button-container">
        <a href="{% url 'home' %}">Voltar para a página inicial</a>
    </div>
</div>