{% block page-content %}
{% load static %}
    
{% endblock page-content %}
<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <link rel="stylesheet" href="{% static 'global/static/css/style-base.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
            


        </head>
        <body>
           <!-- Div responsável pela primeira imagem -->
            <div class="base-imagem-container2">
                <img src="{% static 'global/static/img/03.png' %}" alt="imagem 1">
            </div>

            <!-- Div responsável pela segunda imagem -->
            <div class="base-imagem-container">
                <img src="{% static 'global/static/img/04.png' %}" alt="imagem 2">
            </div>
            <!-- Div responsável pelo footer. -->
            <div class="footer">
                <img src="{% static 'global/static/img/01.png' %}" alt="Rodapé da pagina">
            </div>

            <!-- Div responsável pela imagem do doutor na direta inferior. -->
            <div class="doctor-footer">
                <img src="{% static 'global/static/img/02.png' %}" alt="Veterinário sorridente abraçando um cachorro feliz no rodapé da pagina">
            </div>

            <!-- Div responsável pelos contatos. -->
            <div class="contatos">
                <!-- Link para o Instagram. -->
                <a href="https://www.instagram.com/gadaccarpinaoficial">
                    <!-- <i> -> Tag para gerar o ícone do Instagram. -->
                    <p><i class="fab fa-instagram"></i>@gadaccarpinaoficial</p>
                </a>
                <!-- Link para o WhatsApp. -->
                <a href="https://wa.me/5581984703791">
                    <!-- <i> -> Tag para gerar o ícone do WhatsApp. -->
                    <p><i class="fab fa-whatsapp"></i>(81) 9.8470-3791</p>
                </a>
            </div>
        </body>
    </html>