{% load static %}
<link rel="stylesheet" href="{% static 'global/static/css/style-navbar.css' %}">
<nav class="navbar">
    <!-- Logotipo do site com link dentro de uma div container. -->
    <div class="logo-container">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'global/static/img/gadac.png' %}" alt="GADAC Logo"></a>
        </div>
    </div>

    <!-- Links de navegação. -->
    <ul class="navbar-links">
        <li><a href="#">Doação</a></li>
        <span class="divider"></span> <!-- Barrinha entre os links. -->
        <li><a href="#">Adote</a></li>
        <span class="divider"></span> <!-- Barrinha entre os links. -->
        <li><a href="#">Quem Somos</a></li>
        <span class="divider"></span> <!-- Barrinha entre os links. -->
        <li><a href="#">Resgate</a></li>
        <span class="divider"></span> <!-- Barrinha entre os links. -->

        <!-- Links de autenticação. -->
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <span class="divider"></span> <!-- Barrinha entre login e cadastro. -->
            <li><a href="{% url 'register' %}">Cadastrar</a></li>
        {% endif %}
    </ul>

    <!-- Ícone de usuário. -->
    <div class="user-icons">
        <a href="#"><img src="{% static 'global/static/img/user-icon.png' %}" alt="User Icon"></a>
    </div>
</nav>
