{% load static %}
<link rel="stylesheet" href="{% static 'global/static/css/style-navbar.css' %}">
<nav class="navbar">
    <!-- Logotipo do site com link dentro de uma div container. -->
    <div class="logo-container">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'global/static/img/gadac.png' %}" alt="Logotipo da gadac"></a>
        </div>
    </div>

    <!-- Links de navegação. -->
    <ul class="navbar-links">
        <li><a target="_blank" href="https://nubank.com.br/cobrar/g0eyt/67118dbd-9a9e-4187-9268-5196d67da24c">Doação</a></li>
        <span class="divider"></span> <!-- Barrinha entre os links. -->
        <li><a href="#">Adote</a></li>
        <span class="divider"></span> <!-- Barrinha entre os links. -->
        
        <li><a target="_blank" href="https://api.whatsapp.com/send?phone=5581971089075&text=Te%20amo%20jaum">Resgate</a></li>
        <span class="divider"></span> <!-- Barrinha entre os links. -->

        <!-- Links de autenticação. -->
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <span class="divider"></span> <!-- Barrinha entre login e cadastro. -->
            <li><a href="{% url 'register' %}">Cadastrar</a></li>
        {% endif %}
    </ul>

    
    <div class="user-icons">
        {% if user.is_staff == true or user.is_superuser %} <a href="{% url 'admin:index' %}"> <img src="{% static 'global/static/img/user-icon.png' %}" alt="Ícone de usuário"></a> {% endif %}
    </div>

</nav>
