{% load static %} <!-- Carrega os arqquivos estáticos. -->
 <link rel="stylesheet" href="{% static 'global/static/css/style-sobreNos.css' %}"> <!-- Carrega o CSS. -->

 
<body>
    
    <div class="container-sobre">
        <div class="titulo"><h1>Sobre Nós</h1></div>
        <div class="cyan-container"></div>
        <div class="quadrado quadrado1"> <img src="{% static 'global/static/img/imagem trocavel3.png' %}" alt="imagem" /> </div>
        <div class="quadrado quadrado2"> <img src="{% static 'global/static/img/imagem trocavel4.png' %}" alt="imagem" /> </div>
        <div class="bolinha"> <img src="{% static 'global/static/img/imagem trocavel5.png' %}" alt="imagem" />  </div>
        <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, fugiat quos. Perspiciatis, at molestias autem molestiae fuga illo officia sit mollitia ab, et soluta assumenda doloribus provident in possimus natus! lorem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam unde fugit non sunt blanditiis porro velit, delectus beatae quae pariatur? Quo adipisci, laudantium molestias sunt eveniet inventore neque vero accusantium.</p>
    </div>
</body>