{% load static %} <!-- Carrega os arqquivos estáticos. -->
<link rel="stylesheet" href="{% static 'global/static/css/style-sobreNos.css' %}"> <!-- Carrega o CSS. -->
<body>
    <h1 class="titulo">Sobre Nós</h1>
    <div class="quadrado quadrado1"></div>
    <div class="quadrado quadrado2"></div>
    <div class="bolinha"></div>
    <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, fugiat quos. Perspiciatis, at molestias autem molestiae fuga illo officia sit mollitia ab, et soluta assumenda doloribus provident in possimus natus! lorem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam unde fugit non sunt blanditiis porro velit, delectus beatae quae pariatur? Quo adipisci, laudantium molestias sunt eveniet inventore neque vero accusantium.</p>
</body>
