{% load static %} <!-- Carrega os arqquivos estáticos. -->
 <link rel="stylesheet" href="{% static 'global/static/css/style-sobreNos.css' %}"> <!-- Carrega o CSS. -->

 
<body>
    
    <div class="container-sobre">
        <div class="titulo"><h1>Sobre Nós</h1></div>
        <div class="cyan-container"></div>
        <div class="quadrado quadrado1"> <img src="{% static 'global/static/img/trocavel3.png' %}" alt="imagem" /> </div>
        <div class="quadrado quadrado2"> <img src="{% static 'global/static/img/trocavel4.jpg' %}" alt="imagem" /> </div>
        <div class="bolinha"> <img src="{% static 'global/static/img/trocavel5.jpg' %}" alt="imagem" />  </div>
        <p class="texto">O Grupo Amigo Defensores de Animais do Carpina(GADAC) é uma instituição sem fins lucrativos dedicada ao cuidado de cães e gatos em situação de abandono há mais de 10 anos, O GADAC vem resgatando e cuidando de centenas de animais vítimas de abandono e maus-trautos. Nossa equipe oferece cuidados físicos e emocionais a cada animal, preparando-os para a adoção responsável.</p>
    </div>
</body>