{% load static %} <!-- Carrega os arqquivos estáticos. -->
 <link rel="stylesheet" href="{% static 'global/static/css/yellow_square.css' %}"> <!-- Carrega o CSS. -->

 <body>
    <div class="container-square">
        <div class="square-container">
            <a target="_blank" href="https://maps.app.goo.gl/fEDcvosiTHvQYvnd6"><div class="square"><img src="{% static 'global/static/img/icon-01.png' %}" alt="Botão 'Onde Estamos' com ícone de localização que leva à página de localização"></div></a>
            <a target="_blank" href="https://maps.app.goo.gl/fEDcvosiTHvQYvnd6"><p><strong>Onde Estamos</strong></p></a>
        </div>
        <div class="square-container">
            <a href="https://www.instagram.com/gadaccarpinaoficial/"><div class="square"><img src="{% static 'global/static/img/icon-02.png' %}" alt="Botão 'Nossas Redes' que leva à nossa página do Instagram"></div></a>
            <a href="https://www.instagram.com/gadaccarpinaoficial/"><p><strong>Nossas Redes</strong></p></a>
        </div>
        <div class="square-container">
            <a target="_blank" href="https://nubank.com.br/cobrar/g0eyt/67118dbd-9a9e-4187-9268-5196d67da24c"><div class="square"><img src="{% static 'global/static/img/icon-03.png' %}" alt="Botão 'Faça uma Doação' que leva você à nossa chave PIX para contribuições"></div></a>
            <a target="_blank" href="https://nubank.com.br/cobrar/g0eyt/67118dbd-9a9e-4187-9268-5196d67da24c"><p><strong>Faça uma Doação</strong></p></a>
        </div>
    </div>
 </body>