<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    
</head>
<body>
    <h1>Cadastro de Usuário</h1>

    <form method="post">

        {% csrf_token %}  <!-- Proteção contra CSRF -->
        {{ form.non_field_errors }}  <!-- Exibe erros globais do formulário -->

        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{field.label}}: </label><br>
            <p>{{ field }}</p>  <!-- Renderiza o campo de nome de usuário -->
            {{ field.errors }}  <!-- Exibe erros relacionados ao campo -->
        </div> 
        {% endfor %}
        <button type="submit">Cadastrar</button>
        
    </form>

    <div>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>