.sobrenos{
    position: fixed; /* Fixa a div na janela de visualização */
    top: 90px; /* Ajusta a distância do topo */
    right: 0px; /* Ajusta a distância da borda direita */
    width: 600;
    height: 600;
    
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: right;
    z-index: 2; 
}