.sobrenos{
    position: absolute; /* Fixa a div na janela de visualização */
    top: 90px; /* Ajusta a distância do topo */
    right: 10px; /* Ajusta a distância da borda direita */
    width: 800;
    height: 600;
    
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: right;
    z-index: 30; 
}

.adote{
    width: 900px;
    height: 300px;
    
    position: absolute;
    right: 50%;
    top: 15%;
}

.pet-container {
    position: absolute;
    top: 180px;
    left: 50px;
    display: flex;
    width: 900px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.squareallcontainer{
    width: 600px;
    height: 280px;
    z-index: 10;
    position: absolute;
    right: 110px;
    top: 580px;
}

.post-index-container{
    width: 700px;
    height: 400px;
    background-color: blueviolet;
}